<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Draggable Element</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Draggy     <button onclick="getStuff()">get data</button></h1>
    <div style="position:relative; width:  400px;">
        <drag-resize>
            <img src="../image.jpg"  />
          </drag-resize>
    </div>

    <drag-resize>
        <h1>Hello there</h1>
      </drag-resize>

    <script src="script.js"></script>


    <script>
function getStuff(){
    const dragResizeElement = document.querySelectorAll('drag-resize');

    dragResizeElement.forEach((userItem) => {
console.log(`X: ${userItem.x} Y:  ${userItem.y}  Width: ${userItem.width}  Height: ${userItem.height} `)
});

}

    </script>
</body>
</html>
